h1 {
    margin-top: 30;
    margin-bottom: -10;
    text-align: center;
    color: 5c3c34;
}

#description {
    margin-bottom: 40;
    text-align: center;
    color: 704f49;
}

img {
    width: 4em;
}

#legenda {
    border: 2px #FFFFFF;

    background-color: rgba(230, 153, 92, 0.6);
    padding: 5 20;
    border-radius: 20px;
}

label {
    display: block;
    margin: 0.8rem;

}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;

}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #FEECE2;

    font-family: Tahoma;
    font-size: 16px;
}

fieldset {
    border: 2px #FFFFFF;
    background-color: rgba(234, 223, 180, 0.4);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30;

}

#legenda2 {
    border: 2px #FFFFFF;
    background-color: rgba(230, 153, 92, 0.6);
    padding: 6 24;
    border-radius: 20px;
    text-align: center;
}

#email,
#number,
#name,
select {
    background-color: white;
    border: 0;
    margin-top: 10;
    width: 100%;
    min-height: 2em;
}

#question1 {
    margin-top: 23;
    margin-left: 15;
}

#question2 {
    margin-top: 13;
    margin-left: 15;
    margin-bottom: 5;
}

#question3 {
    margin-top: 13;
    margin-left: 15;
    margin-bottom: 5;
}

select {
    margin-left: 15;
    width: 50%;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: rgba(230, 153, 92, 0.8);
    ;
    border-color: 704f49;
    min-width: 300px;
}

#special {
    margin-top: 20px;
    margin-bottom: 10px;
}

textarea {
    margin-top: 10px;
}